<div id="testwelcomeView" data-role="view"
     data-title="Welcome"
     data-before-hide="enableBackButton"
     data-layout="afterlogin"
     data-model="app.testwelcomeView.testwelcomeViewModel"
     data-show="app.testwelcomeView.testwelcomeViewModel.onShow"
     data-after-show="app.testwelcomeView.testwelcomeViewModel.afterShow">
     
    <footer data-role="footer"> 
        <div class="btn-group btn-group-justified">
            <a class="btn btn-primary"
               data-bind="events: { click: redirectto_introduction_test }">
                Next <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </footer>
    <div id="dvtestwelcomeView">
        <img src="images/start.jpg" id="spanwelcomeimage"
             data-role="button"
             data-bind="events: {click: redirectto_introduction_test }"
             style="border:0px !important;padding:0px !important;
            width:99%;height:100%;" />
    </div>
</div>
